Django==1.4.2
-e git+git://github.com/zbyte64/django-hyperadmin.git#egg=django-hyperadmin
-e git+git://github.com/zbyte64/django-hyperadmin-emberclient.git#egg=django-hyperadmin-emberclient
-e git+git://github.com/zbyte64/django-hyperadmin-backboneclient.git#egg=django-hyperadmin-backboneclient
-e git+git://github.com/zbyte64/django-hyperadmin-client.git#egg=django-hyperadmin-client
mimeparse
-e git+git://github.com/zbyte64/django-dockit.git#egg=django-dockit
-e git+git://github.com/zbyte64/django-dockitcms.git#egg=django-dockitcms
django-classy-tags
-e git+git://github.com/zbyte64/django-hyperadmin-s3resource.git#egg=django-hyperadmin-s3resource
-e git+git://github.com/zbyte64/django-hyperadmin-dockitresource.git#egg=django-hyperadmin-dockitresource
