{% load hyperadmin_utils %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="{{STATIC_URL}}collectionjson/jquery.collection-json.js"></script>
  <script>
{% raw %}
var cj = CollectionJSON;

var login = function(error, collection, done) {
  var template = collection.template()
  console.log('logging in', template)
  template.set('username', 'admin')
  template.set('password', 'admin')
  
  template.submit(function(error, collection) {
    if (!error) {
      console.log("Logged in")
      done(error, collection)
    }
  })
}

var appBuilder = function(client) {
    //TODO use collection.json links to find urls and actions
    var self = {};
    
    self.client = client
    self.base_url = '/hyper-api/dockitcms/'
    
    self.submitTemplate = function(template, params, done) {
        console.log('submit', template)
        _.each(params, function(element, index, list) {
            if (template.datum(index)) {
                //if the value is an item, use its href
                var value = list[index]
                if (value.href) { //consider, does the field have options?
                    var parts = value.href.split('/')
                    value = parts[parts.length-2]
                }
                template.set(index, value)
            }
        });
        
        template.submit(function(error, collection) {
            if (error) {
                console.log('Error submitting:', error)
            }
            done(collection, error)
        });
    }
    
    self.getResourceItem = function(url, key, params, done) {
        self.client(url, function(error, collection) {
            var item;
            _.each(collection.items, function(element, index, list) {
                if (list[index].get(key) == params[key]) {
                    console.log('match:', list[index])
                    item = list[index]
                    return false;
                }
            });
            done(item)
        });
    }
    
    self.createResourceItem = function(url, params, done) {
        self.client(url, function(error, collection) {
            var template = collection.template()
            self.submitTemplate(template, params, done)
        })
    }
    
    self.getOrCreateResourceItem = function(lookup, create, params, done) {
        lookup(params, function(item) {
            if(item) {
                done(item)
            } else {
                create(params, done)
            }
        });
    }
    
    self.getApplication = function(params, done) {
        var url = self.base_url + 'application/'
        self.getResourceItem(url, 'slug', params, done)
    }
    
    self.createApplication = function(params, done) {
        var url = self.base_url + 'application/add/'
        self.createResourceItem(url, params, done)
    }
    
    self.getOrCreateApplication = function(params, done) {
        self.getOrCreateResourceItem(self.getApplication, self.createApplication, params, done)
    }
    
    self.getCollection = function(params, done) {
        var url = self.base_url + 'collection/'
        self.getResourceItem(url, 'key', params, done)
    }
    
    self.createCollection = function(params, done) {
        var url = self.base_url + 'collection/add/'
        self.createResourceItem(url, params, done)
    }
    
    self.createVirtualDocumentCollection = function(params, done) {
        var url = self.base_url + 'collection/add/?collection_type=dockitcms.virtualdocument'
        self.createResourceItem(url, params, function(virtual_collection) {
            //create fields
            var fields = params.fields || []
            if (fields) {
                self.createVDFields(fields, virtual_collection, done)
            } else {
                done(virtual_collection)
            }
        });
    }
    
    self.createVDFields = function(fields, collection, done) {
        var field = fields.pop(0)
        if (field) {
            field.collection = collection
            self.createField(field, collection.href+'dotpath/fields/', function(obj) {
                self.createVDFields(fields, collection, done)
            })
        } else {
            done(collection)
        }
    }
    
    self.createFields = function(fields, path, done) {
        var field = fields.pop(0)
        if (field) {
            self.createField(field, path, function(obj) {
                self.createFields(fields, path, done)
            })
        } else {
            done()
        }
    }
    
    self.createField = function(params, path, done) {
        var url = path+'add/?field_type=' + params.field_type
        if (params.fields) {
            self.createResourceItem(url, params, function(obj) {
                subpath = obj.href //TODO get the add link instead
                subpath = subpath.substr(0, subpath.length-1) + '.fields/'
                self.createFields(params.fields, subpath, done)
            })
        } else {
            self.createResourceItem(url, params, done)
        }
    }
    
    self.getOrCreateVirtualDocumentCollection = function(params, done) {
        self.getOrCreateResourceItem(self.getCollection, self.createVirtualDocumentCollection, params, done)
    }
    
    self.getSubsite = function(params, done) {
        var url = self.base_url + 'subsite/'
        self.getResourceItem(url, 'slug', params, done)
    }
    
    self.createSubsite = function(params, done) {
        var url = self.base_url + 'subsite/add/'
        self.createResourceItem(url, params, done)
    }
    
    self.getOrCreateSubsite = function(params, done) {
        self.getOrCreateResourceItem(self.getSubsite, self.createSubsite, params, done)
    }
    
    self.getPublicResource = function(params, done) {
        var url = self.base_url + 'publicresourcedefinition/'
        //TODO url & subsite
        self.getResourceItem(url, 'url', params, done)
    }
    
    self.createPublicResource = function(params, done) {
        var url = self.base_url + 'publicresourcedefinition/add/'
        self.createResourceItem(url, params, done)
    }
    
    self.createViewPoint = function(params, done) {
        //params.resource //the resource to attach the view point to
    }
    
    self.createListViewPoint = function(params, done) {
        var url = params.resource.href + 'dotpath/view_points/add/?view_type=dockitcms.listview'
        self.createResourceItem(url, params, done)
    }
    
    self.createDetailViewPoint = function(params, done) {
        var url = params.resource.href + 'dotpath/view_points/add/?view_type=dockitcms.detailview'
        self.createResourceItem(url, params, done)
    }
    
    return self;
}

var builder = null;
var built_app = null;
var built_collection = null;
var built_subsite = null;
var built_resource = null;


$(document).ready(function() {
    // Start at the root of our api
    cj("/hyper-api/", function(error, collection){
      if (collection.href == "/hyper-api/authentication/") {
          login(error, collection, function(){})
      } else {
          //startBuilding(error, collection);
      }
    });
    
    $('button.runjs').click(function() {
        console.log('running')
        var code_id = $(this).attr('data-target')
        eval($('#'+code_id).val())
        return false; 
    });
});


{% endraw %}
</script>

</head>
<body>
  {% csrf_token %}
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->
<div id="into">
<p>
Build out the CMS with calls through the collection.js API</br>
Github: <a href="https://github.com/zbyte64/collection-json.js/tree/topic-jquery">https://github.com/zbyte64/collection-json.js/tree/topic-jquery</a>
</p>
<p>
Open up your javascript console to see the response of executing each part.
</p>
</div>

<div class="demo">
<p>
<textarea id="instantiate" cols="80" rows="5">
//cj is our collection json client already built for us
//appBuilder is a wrapper around the collection json client to build apps easier
builder = appBuilder(cj);
console.log('Ready to build')
</textarea>
<br/>
<button class="runjs" data-target="instantiate">Start</button>
</p>
</div>

<div class="demo">
<p>
<textarea id="createapp" cols="80" rows="9">
//build an application to hold our blogging app
builder.getOrCreateApplication({
    'name':'Blogging',
    'slug':'blogging'
}, function(app) {
    built_app = app
    console.log('App created:', app)
});
</textarea>
<br/>
<button class="runjs" data-target="createapp">Create App</button>
</p>
</div>

<div class="demo">
<p>
<textarea id="createcollection"  cols="80" rows="22">
//build a blog collection that holds a gallery
builder.getOrCreateVirtualDocumentCollection({
    'key':'blog',
    'application': built_app,
    'title': 'My Blog',
    'fields': [
        {'field_type': 'CharField', 'name':'title'},
        {'field_type': 'TextField', 'name':'body'},
        {'field_type': 'SlugField', 'name':'slug'},
        {'field_type': 'ComplexListField', 'name':'images',
            'fields': [
                {'field_type': 'CharField', 'name':'alt'},
                {'field_type': 'ImageField', 'name':'image', 
                 'upload_to':'blog-images', 'null': false, 'blank': false}
            ]
        }
    ]
}, function(collection) {
    built_collection = collection
    console.log('Collection created:', collection)
});
</textarea>
<br/>
<button class="runjs" data-target="createcollection">Create Collection</button>
</p>
</div>

<div class="demo">
<p>
<textarea id="createsubsite"  cols="80" rows="11">
//build a subsite for our resource to be mounted under
builder.getOrCreateSubsite({
    'url':'/',
    'name':'root',
    'slug':'root',
    'sites':[1]
}, function(subsite) {
    built_subsite = subsite
    console.log('Subsite created:', subsite)
});
</textarea>
<br/>
<button class="runjs" data-target="createsubsite">Create Subsite</button>
</p>
</div>

<div class="demo">
<p>
<textarea id="createresource"  cols="80" rows="22">
//build a public resource with a list and detail view
builder.createPublicResource({
    'subsite': built_subsite,
    'collection': built_collection,
    'url':'/blogging/',
    'name':'My Blog'
}, function(pub_resource) {
    built_resource = pub_resource
    console.log('Public resource created:', pub_resource)
    builder.createListViewPoint({
        'resource': pub_resource,
        'template_source': 'html',
        'template_html': '{{object_list}}'
    }, function() {
        builder.createDetailViewPoint({
            'resource': pub_resource,
            'template_source': 'html',
            'template_html': '{{object}}'
        }, function() {})
    });
});
</textarea>
<br/>
<button class="runjs" data-target="createresource">Create Public Resource</button>
</p>
</div>

<div class="demo">
<p>
<p>
Once the blog app is built we can push data through the admin API
</p>
<textarea id="addblog"  cols="80" rows="14">
cj('/cmsadmin/blogging/blog/add/', function(error, collection, done) {
    var template = collection.template()
    template.set('title', 'First Post')
    template.set('body', 'Hello World')
    template.set('slug', 'first-post')
    
    template.submit(function(error, collection) {
        if (!error) {
            console.log("Blog entry created")
            //TODO image uploading is a bit harder in javascript
        }
    })
})
</textarea>
<br/>
<button class="runjs" data-target="addblog">Add Blog Entry</button>
</p>
</div>

<div class="demo">
<p>
<p>
And we can also point the client to the public resource to get API representations of our blog entries.
</p>
<textarea id="viewblog"  cols="80" rows="4">
cj('/blogging/', function(error, collection, done) {
    console.log('Blog items:', collection.items)
})
</textarea>
<br/>
<button class="runjs" data-target="viewblog">Fetch Blog Entries</button>
</p>
</div>
</body>
</html>
